AIRFLOW_IMAGE_NAME=apache/airflow:3.3.0 #add your version here

GCP_PROJECT_ID=your-project-id
GCP_LOCATION=EU

DBT_PROFILES_FILE=C:/Users/your-user/.dbt/profiles.yml
GOOGLE_ADC_FILE=C:/Users/your-user/AppData/Roaming/gcloud/application_default_credentials.json